@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
    font-family: 'Inter';
    src: url("/font/Inter.ttf");
}

body { 
  overflow-x: hidden !important;
  font-family: "Inter", sans-serif;
  scroll-behavior: smooth;
}